<template>
  <canvas
    ref="gameCanvas"
    @pointerover="emits('pointerover', $event)"
    @pointerdown="emits('pointerdown', $event)"
    @pointerup="emits('pointerup', $event)"
    @pointermove="emits('pointermove', $event)"
    @pointercancel="emits('pointercancel', $event)"
    @wheel="emits('wheel', $event)"
    @contextmenu.prevent
  />
</template>

<script lang="ts" setup>
import "roma/modules/render";
import { onMounted, onUnmounted, ref } from "vue";
import Game from "../../engine/game";

const props = withDefaults(
  defineProps<{
    data?: any[];
    loop: Function;
    // cameraWidth?: number;
  }>(),
  // { cameraWidth: 1.5 },
  {},
);
const emits = defineEmits<{
  ready: [Game];
  pointerover: [PointerEvent];
  pointerdown: [PointerEvent];
  pointerup: [PointerEvent];
  pointermove: [PointerEvent];
  pointercancel: [PointerEvent];
  wheel: [WheelEvent];
}>();

let gameCanvas = ref<HTMLCanvasElement>();
let game: Game | undefined;
let status: string = "";

onMounted(async () => {
  game = new Game({ canvas: gameCanvas.value }, props.loop);
  window.game = game;

  if (props.data) {
    await game.load(props.data);
  }

  // game.setCameraWidth(props.cameraWidth);
  game.start();
  emits("ready", game);
  console.log("game ready");
});
onUnmounted(() => {
  if (game) {
    game.stop();
    game = undefined;
  }
  console.log("game unmounted");
});
</script>

<style scoped>
canvas {
  touch-action: none;
}
</style>
